<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net472" />
  <package id="MaterialDesign.Icons" version="1.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.0" targetFramework="net472" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net472" />
</packages>